.appVideos {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    right: 0;
    display: flex;
    align-items: center;
}
.appVideos .videoPlayer {
    width: 80%;
}
.appVideos video {
    position: relative;
    border-radius: 24px;
    width: 100%;
    height: 100%;
}

.navbar {
    display: none;
}

.header-edge {
    background-color: var(--color-white);
    padding: 16px 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
    transition: all 0.3s;
    height: 5rem;
}

.fixed-header {
    background-color: var(--color-white);
    z-index: 10000;
    box-shadow: 0px 2px 12px 0px rgba(51, 51, 51, 0.06);
}
.header-none{
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.top-header {
    background-color: transparent;
    box-shadow: none;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-inner .nav {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: .4s;
}

.header-inner .nav .link {
    padding: 12px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    transition: .4s;
}

.header-inner .nav .link:hover {
    color: var(--primary-color);
}

.lang {
    width: 40px;
    height: 40px;
    color: var(--text-accent);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 4px;
    transition: .4s;
}

.lang:hover {
    background-color: var(--text-accent);
    color: var(--color-white);
}

.nav-btn {
    display: none;
}
/*Для стилизации активного хедера*/

.nav-btn.active {

}

.header-edge.active {

}

.hero-block {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    /* background: linear-gradient(180deg, #F0F1F4 0%, rgb(246 245 245 / 0%) 83.33%, #FFF 100%); */
    background-color: #eaeaea;
}
.hero-block::before {
    content: '';
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255));
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.hero-text {
    /* padding-top: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: 2;
    position: relative;
}

.hero-text h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
}

.hero-text .title-hero {
    font-size: 64px;
    font-weight: 600;
}


.hero-text p {
    margin-top: 12px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.hero-text .btns {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}


/* Install and Sale */
/* .install-block {
    
} */
.social-sub {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 350px;
    border-radius: 24px;
    background: var(--background-grey);
    z-index: 0;
}

.social-sub .liquid {
    transform: rotate(90deg);
    position: absolute;
    z-index: -1;
}

.social-sub .social-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 1;
    padding: 24px 64px 0 64px;
}

.social-sub .social-links .links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social-sub .social-links .links a {
    display: block;
    transition: .4s;
}

.social-sub .social-links .links a:hover {
    opacity: .6;
}

.what-in {
    overflow: hidden;
    height: 350px;
    border-radius: 24px;
    background: var(--background-grey);
    padding: 32px 0;
    display: flex;
    align-items: center;
    gap: 32px;
    flex-direction: column;
    position: relative;
    z-index: 0;
}
.what-in img, .what-in video {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 2px;
    right: 0;
    z-index: -1;
}

.logo-sub {
    overflow: hidden;
    height: 350px;
    border-radius: 24px;
    background: linear-gradient(0deg, rgba(17, 141, 240, 0.80) 0%, rgba(17, 141, 240, 0.80) 100%), url(../img/main/install-block-img.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.what-is p {
    margin-top: 12px;
}

.card-swipe {
    position: relative;
}

.card-swipe .card-item {

    position: sticky;
    top: 156px;
    width: 100%;
    box-sizing: border-box;

    box-shadow: 0px -4px 16px 2px rgba(133, 133, 133, 0.08);
    border-radius: 24px;
    background: #F6F5F5;
    padding: 64px;
    padding-left: 128px;
    display: flex;
    align-items: center;
    gap: 128px;
}

.card-item:not(:first-child) {
    margin-top: 64px;
}

.card-swipe .card-item .card-label {
    border-radius: 24px;
    border: 1px solid var(--text-accent);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    padding: 6px 24px;
    display: inline-block;
}

.card-swipe .card-item h3 {
    font-size: 24px;
    font-weight: 400;
    color: var(--text-accent);
    margin-top: 12px;
    line-height: normal;
}

.card-swipe .card-item p {
    font-size: 14px;
    margin-top: 8px;
}

.card-swipe .card-item .info {
    width: 35%;
}

.card-swipe .card-item .image {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 36.25%;
    perspective: 100px;
    transition: transform .4s;
    width: 65%;
    height: 400px;
    border-radius: 24px;
}

.image .image-item {
    display: block;
    transition: opacity .4s, transform .6s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.image .image-item picture {
    display: block;
}

.image .image-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 1;
    vertical-align: middle;
}


/* How It Work */
.how-it-work {
    height: 100vh;
}

.slider-content {
    position: relative;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.slider-progress {
    width: 100%;
    position: absolute;
    scroll-snap-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-progress-text {
    width: 30rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.slider-line {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1px;
    height: 60vh;
    background-color: #D9D9D9;

}

.slider-num {
    position: absolute;
    left: -10px;
    width: min-content;
    background-color: #333333;
    padding: 0.2rem;
    color: #D9D9D9;
    border: none;
    border-radius: 50%;
}

.slider-num-none {
    padding: 0.2rem;
    border-radius: 50%;
    background-color: #858585;
    left: -2px
}

.slider-num2 {
    top: 50%;
}

.slider-num3 {
    bottom: 0%;
}

.slider-progress-image {
    position: relative;
    width: 20rem;
    height: 20rem;
}

.slider-progress-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
}

.slider-progress-image img:nth-child(2) {
    z-index: 1; /* Set a higher z-index to make it appear on top */
}


.news-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.news-title a {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    transition: .4s;
}

.news-title a:hover {
    color: #0E7ED8;
    text-decoration-line: none;
}

.news-desc {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.news-list {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    margin-top: 32px;
}

.news-item .news-image {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 80.25%;
    perspective: 100px;
    transition: transform .4s;
    border-radius: 24px;
    margin-bottom: 24px;
}

.news-item .news-image img {
    display: block;
    transition: opacity .4s, transform .6s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 1;
    vertical-align: middle;
}

.news-item .news-image picture {
    display: block;
}

.news-item .details {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.news-item .details .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.news-item .details .info span {
    display: block;
    color: var(--text-add);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.news-item .details .info h3 {
    color: var(--text-accent);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.news-item .arrow {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--text-accent);
    background: var(--color-white);
    color: var(--text-accent);
    transition: .4s;
}

.news-item:hover .arrow {
    border: 1px solid var(--text-accent);
    background: var(--text-accent);
    color: var(--color-white);
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.faq-list .faq-item {
    border-radius: 24px;
    background: #F3F7F9;
    padding: 32px;
    overflow: hidden;
}

.faq-list .faq-item .faq-collapse {
    display: flex;
    align-items: center;
    gap: 48px;
    width: 100%;
    text-align: left;
}

.faq-list .faq-item .faq-collapse h3 {
    font-size: 32px;
    font-weight: 500;
    width: 100%;
}

.faq-item .faq-btn {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--color-white);
    color: var(--text-accent);
    transition: .4s;
}

.faq-list .faq-item .faq-collapse .faq-btn svg {
    transition: .4s;
}

.faq-collapse:hover .faq-btn {
    background: var(--text-accent);
    color: var(--color-white);
}

.faq-list .faq-item .faq-collapse.is-open .faq-btn {
    background-color: var(--text-accent);
    color: var(--color-white);
}

.faq-list .faq-item .faq-collapse.is-open .faq-btn svg {
    transform: rotate(-180deg);
}

.faq-item p {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

.faq-collapse.is-open + .faq-content {
    margin-top: 16px;
    visibility: visible;
    opacity: 1;
}

.map {
    width: 100%;
    height: 500px;
    position: relative;
}

.map__frame {
    height: 500px;
    border: none;
}

.map__top_block {
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, transparent, rgba(255, 255, 255));
    position: absolute;
    top: 0;
    z-index: 10;
}

.map__bottom_block {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255));
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    cursor: pointer;
}


/* Footer */
.footer {
    padding: 64px 0 24px;
    background: white;
}

.footer .footer-logo .footer-adress {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
}

.footer .list-title {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.footer ul {
    margin-top: 24px;
}

.footer ul li a {
    display: block;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    transition: .4s;
}

.footer ul li a:hover {
    color: var(--primary-color);
}

.footer ul li {
    margin-top: 12px;
}

.footer ul li:first-child {
    margin-top: 0;
}

.social-footer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-list {
    display: flex;
    gap: 16px;
}

.social-list a {
    display: flex;
    transition: .4s;
}

.social-list a:hover {
    opacity: .6;
}

.copyright {
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 16px;
    margin-top: 24px;
    font-weight: 400;
    line-height: normal;
}

.btn-back {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    transition: .4s;
    color: #118DF0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.btn-back:hover {
    gap: 4px;
}

/* NEWS */
.news-block {
    padding-top: 128px;
    background: linear-gradient(180deg, #F0F1F4 0%, rgba(246, 245, 245, 0.50) 46.73%, #FFF 100%);
}
.news-info-title {
    margin-top: 64px;
}
.news-info-title span {
    display: block;
    margin-bottom: 8px;
}
.news-info p {
    margin-top: 16px;
}
.news-info img {
    margin: 24px 0;
    width: 100%;
}
.news-info h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}


/* Catalog */
.catalog {
    padding: 128px 0;
    background: linear-gradient(180deg, #F0F1F4 0%, rgba(246, 245, 245, 0.50) 46.73%, #FFF 100%);
}
.catalog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.catalog-card {
    padding: 32px;
    border-radius: 24px;
    background: radial-gradient(77.95% 77.95% at 50% 37.08%, rgba(240, 241, 244, 0.00) 0%, #F0F1F4 62.24%);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    gap: 40px;
}
.catalog-card .top {
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.catalog-card .top h2 {
    color: var(--text-accent);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 40px;
    font-weight: 600;
}
.catalog-card .top img {
    width: 300px;
    height: 300px;
    transition: .4s;
}
.catalog-card:hover .top img {
    transform: scale(1.1);
}
.catalog-card .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.catalog-card .bottom p {
    width: 320px;
    flex: none;
    color: var(--text-accent);
    font-size: 14px;
    line-height: 150%;
}

.catalog-card .link-to {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--text-accent);
    background: transparent;
    color: var(--text-accent);
    transition: .4s;
}

.catalog-card:hover .link-to {
    border: 1px solid var(--text-accent);
    background: var(--text-accent);
    color: var(--color-white);
}

/* Animaiton */
.liquid circle {
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#one {
    animation-name: one;
}

#two {
    animation-name: two;
}

#three {
    animation-name: three;
}

#four {
    animation-name: four;
}

#five {
    animation-name: five;
}

#six {
    animation-name: six;
}

@keyframes one {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(10px, 10px)
    }
    0% {
        transform: translate(0, 0)
    }
}

@keyframes two {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(-15px, 5px)
    }
    0% {
        transform: translate(0, 0)
    }
}

@keyframes three {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(17px, 7px)
    }
    0% {
        transform: translate(0, 0)
    }
}

@keyframes four {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(5px, -20px)
    }
    0% {
        transform: translate(0, 0)
    }
}

@keyframes three {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(17px, 7px)
    }
    0% {
        transform: translate(0, 0)
    }
}

@keyframes five {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(0, 5px)
    }
    0% {
        transform: translate(0, 0)
    }
}

@keyframes six {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(20px, -5px)
    }
    0% {
        transform: translate(0, 0)
    }
}

@media (max-width: 766px) {
    .slider-line {
        display: none;
    }

    .slider-progress {
        flex-direction: column-reverse;
    }

}

@media (max-width: 500px) {
    .slider-progress-text {
        width: 100%
    }
}