* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --background-color: #FFFFFF;
    --text-color1: #333333;
    --text-color2: #858585;
    --button-color: #118DF0;
}

@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: dinpro;
    src: url(../fonts/DINPro.woff2);
}

.wrapper, .content, .what_is_that__textblock, .advantage__card, .main__header, .hero__image > *{
    will-change: transform;
}
body {
    color: var(--text-color1);
    font-family: raleway-c;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--text-color1);
}

.navbar {
    width: 100%;
    height: 72px;
}

.navbar__menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px calc(var(--index)*5);
}

.logo {
    flex-basis: 50%;
    font-family: dinpro;
    font-size: 24px;
    color: var(--button-color);
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word
}

.burger__menu {
    display: none;
}

.navbar{
    background-color: #F6F5F5;
}
.navbar__list {
    width: calc(var(--index)*20);
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar__item {
    color: var(--text-color1);
    font-size: calc(var(--index)*0.75);
    font-family: raleway-c;
    font-weight: 400;
    word-wrap: break-word
}

.container {
    display: flex;
    margin-left: 6vw;
    align-items: center;
    padding: 7vw 10vh;
}

.hero{
    background: linear-gradient(180deg, #F0F1F4 0%, rgba(246, 245, 245, 0.50) 83.33%, #FFF 100%);
}
.hero__image {
    width: calc(var(--index)*30);
    position: absolute;
    left: 50vw;
    top: 5vh;
}



.main__header {
    display: flex;
    flex-direction: column;
}

.main__title {
    width: calc(var(--index)*30);
    z-index: 2;
}

h1 {
    width: calc(var(--index)*25);
    color: var(--text-color1);
    font-size: calc(var(--index)*1.5);
    font-weight: bold;
    word-wrap: break-word;
    margin-bottom: 2vh;
}

.main__subtitle {
    width: calc(var(--index)*20);
    color: var(--text-color1);
    font-size: 15px;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 4vh;
}

.main__buttons {
    display: flex;
    gap: 2%;
}

.main__btn {
    width: calc(var(--index)*6);
    height: 7vh;
    font-family: raleway-c;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 8px;
    border: 1px solid var(--text-color1);
    padding: 5px 5px;
    gap: 10px;
    font-size: calc(var(--index)*0.6);
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.main__btn:first-child {
    background-color: var(--button-color);
    border: none;
    color: var(--background-color);
}

.about_me {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40vh 10vw;
    background: var(--background-color);
}

.about_me__title {
    width: calc(var(--index)*25);
    color: #333333;
    text-align: center;
    font-size: calc(var(--index)*1.5);
    font-weight: bold;
    margin-bottom: 1em;
}

.about_me__blocks {
    height: calc(var(--index));
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.about_me__social {
    width: calc(var(--index)*10);
    height: calc(var(--index)*15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: #FAFAFA;
    background-image: url(../img/about-us-card1.png);
    background-size: cover;
    overflow: hidden;
}

.about_me__social p {
    text-align: center;
    font-size: calc(var(--index));
    font-family: raleway-c;
    font-weight: 500;
    word-wrap: break-word
}

.about_me__system {
    width: calc(var(--index)*10);
    height: calc(var(--index)*15);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20%;
    border-radius: 24px;
    flex-basis: 50%;
    background-color: #FAFAFA;
    background-image: url(../img/about-us-card2.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 4vh;
}

.about_me__system p {
    color: #333333;
    font-size: calc(var(--index)*1.3);
    font-family: raleway-c;
    font-weight: bold;
    word-wrap: break-word
}

.about_me__system a {
    color: white;
    font-size: calc(var(--index));
    font-family: raleway-c;
    background-color: var(--button-color);
    border: none;
    border-radius: 8px;
    padding: 16px 24px;
    font-weight: 500;
    word-wrap: break-word
}


.about_me__logo-s {
    width: calc(var(--index)*10);
    height: calc(var(--index)*15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: dinpro;
    font-size: calc(var(--index));
    color: var(--background-color);
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    border-radius: 24px;
    background-image: url(../img/about-us-card3.png);
}

.figure {
    width: 100%;
    height: 100%;
    border-top-left-radius: 2000px;
    border-top-right-radius: 2000px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: rotate(300deg);
    background-color: #D9F4FF;
}

.what_is_that {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20vh 10vw;
    background: var(--background-color);
}

.what_is_that__title {
    color: #333333;
    font-size: 40px;
    font-weight: bold;
    font-family: raleway-c;
    font-weight: 500;
    word-wrap: break-word
}

.what_is_that__textblock {
    width: calc(var(--index)*20);
    /* height: 25em; */
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    justify-content: space-between;

}

.what_is_that__subtext {
    color: #858585;
    font-size: 18px;
    font-family: raleway-c;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word
}

.what_is_that__image {
    width: 450px;
    height: 400px;
    border-radius: 24px;
    background-image: url(../img/what-is-that.gif);
    background-size: cover;
    background-color: #118DF0;
}

.advantages {
    width: 100%;
    padding: 20vh 2vw;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    align-items: center;
    background: var(--background-color);
}
.advantages__pages__mobile{
    display: none;
}
.advantages__title {
    width: 100%;
    font-size: calc(var(--index)*1.2);
    font-weight: bold;
    text-align: center;
}

.advantages__card_container{
    
}
.advantage__card {
    width: calc(var(--index)*50);
    background-color: #F6F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 10vh 2vw;
    column-gap: 2em;
}

.advantage__image {
    width: calc(var(--index)*20);
    height: calc(var(--index)*15);
    background-size: cover;
    border-radius: 24px;
}

.advantage__list {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    list-style: none;

}

.advantage__list li {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #333333 solid;
    border-radius: 50%;
}

.advantage__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
}

.advantage__text .head {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    font-size: calc(var(--index)*0.7);
    border-radius: 8px;
    border: 1px #333333 solid;
}

.advantage__text .title {
    font-size: calc(var(--index)*1);
    font-weight: bold;
}

.advantage__text .subtitle {
    width: calc(var(--index)*20);
    font-size: calc(var(--index)*0.6);
    color: var(--text-color2);
}

.advantage__image_1 {
    background-image: url(../img/advantage1.png);
}

.advantage__image_2 {
    background-image: url(../img/advantage2.png);
}

.advantage__image_3 {
    background-image: url(../img/advantage3.png);
}

.advantage__image_4 {
    background-image: url(../img/advantage4.png);
}

.active_li {
    color: white;
    background-color: var(--text-color1);
}

.htw {
    width: 100%;
    padding: 20vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.htw {
    width: 100%;
}

.htw__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5vh 20vh;
    column-gap: 5em;

}

.htw__text {
    width: calc(var(--index)*15);
    color: #858585;
    font-size: 18px;
    font-family: raleway-c;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word
}

.htw__progress_bar {
    width: calc(var(--index)*1);
    height: calc(var(--index)*21);
    background-image: url(../img/line-divider.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.htw__image {
    width: calc(var(--index)*23);
    height: calc(var(--index)*23);
    background-size: cover;
}

.htw__title {
    width: 100%;
    font-size: calc(var(--index)*1.2);
    font-weight: bold;
    text-align: center;
}

.htw__image_1 {
    background-image: url(../img/htw1.png);
}

.htw__image_2 {
    background-image: url(../img/htw2.png);
}

.news {
    width: 100%;
    padding: 20vh 10vw;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.news__head {
    display: flex;
    justify-content: space-between;
}

.news__title {
    color: #333333;
    font-size: calc(var(--index)*1.5);
    font-weight: 500;
    font-weight: bold;
    word-wrap: break-word
}

.news__subtitle {
    color: var(--text-color2);
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word
}

.new__image {
    width: calc(var(--index)*15);
    height: calc(var(--index)*10);
    background-image: url(../img/new1.png);
    border-radius: 24px;
}

.news__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.news__link__mobile{
    display: none;
}

.news__link .new {
    display: flex;
    flex-direction: column;
}

.news__link__mobile{
    display: none;
}

.new__subscription {
    width: calc(var(--index)*15);
    display: flex;
}

.new__date {
    color: var(--text-color2);
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word
}

.new__title {
    color: var(--text-color1);
    font-size: calc(var(--index)*0.7);
    font-weight: 600;
    word-wrap: break-word
}

.new__subtitle {
    display: flex;
    width: calc(var(--index)*12);
    color: var(--text-color2);
    font-size: calc(var(--index)*0.6);
    font-weight: 400;
    word-wrap: break-word
}

.new__button {
    width: calc(var(--index)*2);
    height: calc(var(--index)*2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-width: 0;
}

.new__button img{
    width: calc(var(--index)*1.3);
}

.questions {
    width: 100%;
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.questions__title {
    color: #333333;
    font-size: calc(var(--index)*1.3);
    font-weight: bold;
    word-wrap: break-word
}

.question__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.question {
    width: 100%;
    height: calc(var(--index)*3);
    background-color: #F3F7F9;
    padding: 2vh 2vw;
    border-radius: 24px;
    row-gap: 10em;
    overflow: hidden;
    margin-bottom: 2em;
}

.question__button_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.question__button {
    width: calc(var(--index)*1.6);
    height: calc(var(--index)*1.6);
    border-radius: 50%;
    
    border-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question__button_wrapper .active {
    background-color: var(--text-color1);

}

.question__p {
    color: #333333;
    font-size: calc(var(--index)*1.2);
    font-weight: bold;
    word-wrap: break-word
}

.question__text {
    width: 94%;
    color: #333333;
    font-size: calc(var(--index)*0.8);
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word
}

.question__active {
    transition: height 0.3s ease-in-out; 
    height: max-content;
}

.application {
    width: 100%;
    padding: 10vh 10vw;
}

.application_form {
    width: 50%;
}

.application_form input {
    margin-bottom: 2em;
}

.form__title {
    color: #333333;
    font-size: calc(var(--index)*1.5);
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 1.5em;
}

.label__name {
    color: #333333;
    font-size: calc(var(--index));
    font-weight: 400;
    word-wrap: break-word
}

#name {
    width: 70%;
    color: #858585;
    font-family: raleway-c;
    font-size: calc(var(--index)*0.7);
    font-weight: 400;
    word-wrap: break-word;
    border: none;
    border-bottom: #858585 1.5px solid;
    margin-left: 0.2em;
}

#setup {
    display: none;
}

.setup__label {
    font-size: calc(var(--index)*0.7);
    border: var(--text-color2) 1px solid;
    border-radius: 8px;
    padding: 0.2vw 2vh;
}

#components {
    display: none;
}

.components__label {
    font-size: calc(var(--index)*0.7);
    border: var(--text-color2) 1px solid;
    border-radius: 8px;
    padding: 0.2vw 2vh;
}

.interested__in {
    width: calc(var(--index)*25);
    display: flex;
    align-items: center;
    column-gap: 1.5em;
    margin-bottom: 2em;
}

#phone {
    width: 70%;
    border: none;
    border-bottom: var(--text-color2) 1px solid;
    margin-left: 0.2em;
}

#comments {
    width: 94%;
    color: #858585;
    font-family: raleway-c;
    font-size: calc(var(--index)*0.7);
    font-weight: 400;
    word-wrap: break-word;
    border: none;
    border-bottom: #858585 1.5px solid;
}

.form__button {
    color: var(--background-color);
    width: calc(var(--index)*6);
    height: 7vh;
    font-family: raleway-c;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    border: none;
    border-radius: 8px;
    border-width: 1px;
    padding: 5px 5px;
    gap: 10px;
    font-size: calc(var(--index)*0.5);
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

input[type="radio"]:checked +label {
    /* Ваши стили для активной радиокнопки */
    background-color: var(--text-color1);
    color: var(--background-color);
  }
.map {
    width: 100%;
    height: calc(var(--index)*25);
    position: relative;
}

.map__top_block {
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, transparent, rgba(255, 255, 255));
    position: absolute;
    z-index: 10;
}

.map__bottom_block {
    top: calc(var(--index)*14);
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255));
    position: absolute;
    z-index: 10;
}

footer {
    width: 100%;
    height: calc(var(--index)*15);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 10vh 10vw;
    row-gap: 2em;
}

.footer__adress {
    width: calc(var(--index)*10);
}

.footer__info {
    display: flex;
    justify-content: space-between;
}

.footer__list ul {
    list-style: none;
    padding-top: 0.5em;
}

.footer__logo img {
    margin-bottom: 1em;
}

.list__title {
    font-weight: bold;
}

.map__frame {
    height: calc(var(--index)*20);
}

.footer__link {
    display: flex;
    justify-content: center;
    column-gap: 1em;
}

.footer__copyright {
    display: flex;
    justify-content: center;
}

.mobile__nav{
    display: none;
}

@media (max-width:1024px) {
    .logo {
        flex-basis: 0%;
    }

    .navbar__list {
        width: calc(var(--index)*25);
        flex-basis: 50%;
        column-gap: 1em;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .navbar__item {
        font-size: calc(var(--index));
        font-family: raleway-c;
        font-weight: 400;
        word-wrap: break-word
    }

}

@media (max-width:768px) {
    .content{
        position: relative;
    }
    .navbar {
        position: fixed;
        background-color: var(--background-color);
        z-index: 1000;
    }

    .logo {
        flex-basis: 0%;
    }

    .navbar__list {
        display: none;
    }

    .navbar__item {
        font-size: calc(var(--index));
        font-family: raleway-c;
        font-weight: 400;
        word-wrap: break-word
    }

    .hero {}

    .lang {
        display: none;
    }

    .burger__menu {
        display: block;
    }

    .hero .container {
        flex-direction: column;
        padding: 22vw 2vh;
        margin-left: 0;
    }

    .hero__image {
        position: static;

    }

    h1 {
        width: calc(var(--index)*25);
        color: var(--text-color1);
        font-size: calc(var(--index)*2);
        font-weight: bold;
        word-wrap: break-word;
    }

    .about_me {
        padding: 10vh 10vw;
    }
    .about_me__title{
        font-size: calc(var(--index)*1.75)
    }
    .about_me__blocks {
        flex-direction: column;
        height: calc(var(--index)*50);
        align-items: center;
        row-gap: 2em;
    }


    .about_me__social {
        width: calc(var(--index)*32);
        height: calc(var(--index)*15);
    }
    .about_me__social p{
        font-size: calc(var(--index)*1.4);
    }

    .about_me__system {
        width: calc(var(--index)*32);
        height: calc(var(--index)*15);
    
    }

    .about_me__system p {
        font-size: calc(var(--index)*1.8);
       
    }

    .about_me__system button {
        font-size: calc(var(--index));
    }


    .about_me__logo-s {
        width: calc(var(--index)*32);
        font-size: calc(var(--index)*2);
        background-image: url(../img/about-us-card3.png);
        background-size: cover;
        background-position: center;
    }

    .main__btn {
        width: calc(var(--index)*10);
        height: calc(var(--index)*4);
        
        font-size: calc(var(--index)*1);
     
    }
    
    .main__btn:first-child {
        background-color: var(--button-color);
        color: var(--background-color);
    }
    .what_is_that{
        flex-direction: column-reverse;
        row-gap: 2em;
    }
    .what_is_that__image{
        width: calc(var(--index)*35);
    }
    .what_is_that__textblock{
        width: calc(var(--index)*35);
    }
    .footer__info{
        flex-direction: column;
        row-gap: 2em;
    }
    .advantages__pages{
        display: none;
    }
    .advantages__pages__mobile{
        display: block;
    }
    .advantage__list{
        flex-direction: row;
        column-gap: 1em;
    }
    .advantage__card{
        width: calc(var(--index)*40);
        flex-direction: column-reverse;
        background-color: #F6F5F5;
        row-gap: 2em;
    }
    .advantage__text{
        width: 100%;

    }
    .advantage__text .head{
        width: calc(var(--index)*17);
        font-size: calc(var(--index)*1.5);
    }
    .advantage__text .title{
        font-size: calc(var(--index)*1.4);
    }
    .advantage__text .subtitle{
        width: 100%;
        font-size: calc(var(--index)*1.4);
    }
    .htw__content {
        flex-direction: column-reverse;
        row-gap: 2em;
        padding: 0;
    }

    .htw__text{
        width: 90%;
    }
    .htw__progress_bar{
        display: none;
    }
    .htw__image{
        width: calc(var(--index)*30);
        height: calc(var(--index)*30);
    }
    .news{
        padding: 5vh 10vw;
    }
    .news__title{
        font-size: calc(var(--index)*2);
        margin-bottom: 1em;
    }
    .news__link{
        display: none;
    }
    .news__link__mobile{
        display: block;
    }
    .news__container{
        column-gap: 2em;
    }
    
    .new__image{
        width: calc(var(--index)*25);
        height: calc(var(--index)*20);
    }
    .new__subscription {
        width: calc(var(--index)*25);
        display: flex;
    }
    .new__titles{
        width: 100%;
        flex-basis: 100%;
    }
    .new__title{
        font-size: calc(var(--index)*1.7);
    }
    .new__subtitle{
        width: 100%;
        font-size: calc(var(--index)*1.2);
    }

    .questions{
        padding: 10vh 5vw;
    }
    .questions__title{
        font-size: calc(var(--index)*2);
    }

    .question{
        height: calc(var(--index)*4);
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }
    .question__active{
        height: auto    ;
    }
    .question__p{
        font-size: calc(var(--index)*1.5);
    }
    .question__text{
        font-size: calc(var(--index)*1.3);
        line-height: 26px;
    }
    .application{
        padding: 1em;
    }
    .application_form{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .form__title{
        font-size: calc(var(--index)*2);
        font-weight: bold;
    }
    .label__name{
        font-size: calc(var(--index)*1.5);
    }
    #name, #comments, #phone{
        width: 100%;
        font-size: calc(var(--index)*2);
    }
    .interested__in{
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        justify-self: center;
        row-gap: 1em;
    }
    .interested__in label{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: calc(var(--index)*2);
    }
    .form__or{
        display: none;
    }
    .form__button{
        width: 100%;
        height: calc(var(--index)*5);
        font-size: calc(var(--index)*2.5);
    }

    .mobile__nav{
        display: block;
        position: fixed;
    }
}